@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// 'Manrope', sans-serif;

 /* родитель */


/* flex-контейнер */

.block__row{
display:flex;
align-items:center;
}
/* flex-элемент */

.block__element{
     display:flex;
}
/* flex-элемент №1 */

.block__element_1{
flex: 0 0 30%;

}
/* flex-элемент №2 */

.block__element_2{
flex: 1 1 auto;

}
/* контент */

.block__content{
padding: 10px 0px 0px 20px;
color: #000000;
font-family: Manrope;
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 20px;
text-align: left;
text-transform: uppercase;
letter-spacing: 0.5px;
line-height: normal;

}

.title {
     /* Style for "ИАИС ОГД" */
width: 670px;
height: 108px;
color: #000000;
font-family: Manrope;
font-size: 50px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 41.66px;
text-align: left;
text-transform: uppercase;
/* Text style for "ИАИС ОГД" */
font-style: normal;
letter-spacing: 0.6px;
line-height: normal;
}

.list {
     display:flex;
     justify-content:space-between;
     li {margin: 0px 40px 0px 60px;}
}

.link{
color: #000000;
font-family: Manrope;
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 20px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 0.5px;
line-height: normal;
}

.link:hover{
color:  #71a6cc;
}

.container {
     position: relative;
   }
   
   .center {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
color: #000000;
font-family: Manrope;
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
text-align: center;
   }
   
   .subcenter{
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #000000;
     font-family: Manrope;
     font-size: 18px;
     font-weight: 400;
     font-style: normal;
     letter-spacing: normal;
     text-align: justify;
     ;

   }
   .bgimage { 
     width: 100%;
     height: auto;
     margin: 15px 0px 0px 0px;
   }

   .btn {
     position: absolute;
     top: 85%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-family: Manrope;
     text-transform: uppercase;
     font-weight: 700;
     display: inline-block; 
     border: 3px solid #849399;
     background-color: #d4e6f3; 
     color: #000000; 
     padding: 1rem 1.5rem; 
     text-decoration: none; 
     border-radius: 15px; 
     transition-duration: 500ms;
    }

    .btn:hover{
     background-color: #71a6cc; 
     
    }

    .about {

     &_header {
          
          max-width: 800px;
          margin: auto;
     }

     &_title {
          margin: 15px 0px 0px 0px;
     }

     &_row {
       display:flex;
       margin: 20px 0px 70px 0px;
     }

     &_column {
          flex: 0 0 25%;
     }
}
.titul {
color: #000000;
font-family: Manrope;
font-size: 30px;
font-weight: 500;
text-transform: uppercase;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
line-height: normal;


}

.item-about {

     &__icon {
          margin: 10px 0px 0px 0px;
     }
     &__liltitle {
margin: 15px 40px 0px 0px;
color: #000000;
font-family: Manrope;
font-size: 15px;
font-weight: 400;
font-style: normal;
line-height: normal;
text-align: center;
letter-spacing: 0.33px;
line-height: normal;
text-transform: uppercase;
     }
}





.twocolums {
     width: auto;
     display: flex;
     flex: 1 1 100%;
     flex-wrap: nowrap;
     align-items: center;
     flex-grow:1;
}
.fisrtblock {
     background-color: #dce2e6;
     max-width: 100%;
}
.secondblock {
     background-color: #e5eff7;
     max-width: 100%;
}


.articles {

		&_row {
               margin: 15px 150px 0px 0px;
		}

		&_column {
          padding: 0px 0px 10px 125px;
          }
          
          &_column:last-child  {
               padding: 0px 0px 100px 125px;
               }
}

.item-articles {

		&__icon {
          position: relative;
         
		}
}
.overlayeffect {
     position: relative;
     width: 100%;
}
.picture {
     display:block;
}
.overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     border-radius: 15px;
     opacity: 0;
     transition: .5s ease;
     background-color: #697783;
}

.overlayeffect:hover .overlay {
     opacity: 1;
     transition-duration: 500ms;
   }

.overlaytext {
     color: white;
     font-family: Manrope;
     font-size: 30px;
     position: absolute;
     text-align: center;
     top: 50%;
     left: 50%;
     letter-spacing: 0.29px;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
}
.olink {
     color: white;
     font-family: Manrope;
     font-size: 20px;
     position: absolute;
     text-align: center;
     top: 50%;
     left: 50%;
     letter-spacing: 0.29px;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
}

.olink:hover {
     color:#000000;
     transition-duration: 500ms;
}


.article_text{
margin: 0px 0px 15px 0px;
color: #000000;
font-family: Manrope;
font-size: 30px;
font-weight: 500;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

}


.news__row{

 display:flex;
 margin: 2px 10px 30px 100px;

}

.news__part_1{
flex: 0 0 auto;
margin: 10px 0px 0px 0px;

}

.news__part_2{
  margin: 0px 0px 0px 20px;

}

.newstitle{
margin: 30px 0px 0px 20px;
color: #000000;
font-family: Manrope;
font-size: 20px;
font-weight: 600;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;

}

.newstext{
color: #000000;
font-family: Manrope;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: justify;
margin: 20px 100px 0px 20px;
}

.newsreadmore {
margin: 30px 0px 0px 0px;
color: #000000;
font-family: Manrope;
font-size: 12px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
}

.newsdata { 
margin: 0px 100px 0px 0px;
color: #000000;
font-family: Manrope;
font-size: 12px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: right;
}

.newstitul {
     margin: 0px 0px 50px 0px;
     color: #000000;
     font-family: Manrope;
     font-size: 30px;
     font-weight: 500;
     font-style: normal;
     letter-spacing: normal;
     line-height: normal;
     text-align: center;
     text-transform: uppercase;
     
}


.footer__row{
     background-color:#697783;
     display:flex;
     }
     /* flex-элемент */
     .footer__element{
     flex: 0 1 33.333%;
     }
     
     
     .maintext {
     margin: 15px 0px 15px 0px;
     color: #000000;
     font-family: Manrope;
     font-size: 20px;
     font-weight: 400;
     font-style: normal;
     letter-spacing: normal;
     line-height: 20px;
     text-align: left;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     
     }
     
     .linkfooter {
     background: url('/img/icon/point.png') left no-repeat;
     padding: 0px 0px 0px 10px;
     color: #000000;
     font-family: Manrope;
     font-size: 12px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     text-transform: uppercase;
     }
     
     .linkfooter:hover {
     color: #dce2e6;
     }
     
     .footertext{
          color: #000000;
          font-family: Manrope;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          text-transform: uppercase;
          
     }
     
     .footertext2{
          color: #000000;
          font-family: Manrope;
          font-size: 12px;
          font-weight: 300;
          line-height: 20px;
          text-align: left;
          text-transform: uppercase;
          text-align: center;
     }
     
     .footer {
     
          &__row {
               padding: 0px 0px 15px 0px;
          }
     
         
          &__content {
               padding: 10px 0px 0px 30px;
          }
     }
     
     .cclink{
          margin: 10px 0px 15px 15px;
     }